@import url('./normalize.scss');
@import url('./theme.scss');
@import url('./scrollbar.scss');

html,
body,
#root {
  height: 100%;
}

[class$='-container'],
[class*='-container '] {
  height: 100%;
  min-height: 0;
}

body {
  margin: 0;
  background: var(--app-bg-color);
  color: var(--app-text-color);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.action-block:hover {
  background: var(--app-control-item-bg-hover);
}

/** 操作按钮 恢复样式 */
.button-action {
  border: none;
  background: transparent;
}
